In [1]:
import cyberpandas as cp

### Creation & Accessors

In [2]:
ipa = cp.to_ipaddress([
   ...:     '192.168.1.1',
   ...:     '2001:0db8:85a3:0000:0000:8a2e:0370:7334',
   ...: ])
ipa

IPArray(['192.168.1.1', '2001:db8:85a3::8a2e:370:7334'])

In [3]:
ipa.hostmask()

IPArray(['0.0.0.0', '0.0.0.0'])

In [4]:
ipa.is_loopback

array([False, False])

In [5]:
ipa[0]

IPv4Address('192.168.1.1')

### As a Series

In [6]:
values = cp.to_ipaddress([
   ...:     0,
   ...:     3232235777,
   ...:     42540766452641154071740215577757643572
   ...: ])
df = pd.DataFrame({'addresses': values})
df

                      addresses
0                       0.0.0.0
1                   192.168.1.1
2  2001:db8:85a3::8a2e:370:7334

In [7]:
df.dtypes

addresses    ip
dtype: object

In [8]:
df.addresses.ip.is_multicast

0    False
1    False
2    False
Name: addresses, dtype: bool

In [9]:
df['foo'] = range(len(df))

In [10]:
df

                      addresses  foo
0                       0.0.0.0    0
1                   192.168.1.1    1
2  2001:db8:85a3::8a2e:370:7334    2

In [11]:
df.dtypes

addresses       ip
foo          int64
dtype: object