In [17]:
import io
import pandas as pd
pd.__version__

'0.24.0.dev0+653.gd115900f4'

In [5]:
import pint
import pint.pandas_interface as ppi
ureg = pint.UnitRegistry()
pint.__version__

'0.9.dev0'

### Creation

In [53]:
data = """speed,mech power,torque,rail pressure,fuel flow rate,fluid power
rpm,kW,N m,bar,l/min,kW
1000,,10,1000,10,
1100,,10,1000000000000,10,
1200,,10,1000,10,
1200,,10,1000,10,"""

df = pd.read_csv(io.StringIO(data), header=[0,1])
df = df.pint.quantify(ureg, level=-1)
df

    speed mech power torque    rail pressure fuel flow rate fluid power
0  1000.0        nan   10.0           1000.0           10.0         nan
1  1100.0        nan   10.0  1000000000000.0           10.0         nan
2  1200.0        nan   10.0           1000.0           10.0         nan
3  1200.0        nan   10.0           1000.0           10.0         nan

In [54]:
df.dtypes

speed             pint
mech power        pint
torque            pint
rail pressure     pint
fuel flow rate    pint
fluid power       pint
dtype: object

### Operations

In [55]:
df['mech power'] = df.speed*df.torque
df['fluid power'] = df['fuel flow rate'] * df['rail pressure']
df.pint.dequantify()

,speed,mech power,torque,rail pressure,fuel flow rate,fluid power
,revolutions_per_minute,meter * newton * revolutions_per_minute,meter * newton,bar,liter / minute,bar * liter / minute
0,1000.0,10000.0,10.0,1.000000e+03,10.0,1.000000e+04
1,1100.0,11000.0,10.0,1.000000e+12,10.0,1.000000e+13
2,1200.0,12000.0,10.0,1.000000e+03,10.0,1.000000e+04
3,1200.0,12000.0,10.0,1.000000e+03,10.0,1.000000e+04

In [56]:
df['fluid power'] = df['fluid power'].pint.to("kW")
df['mech power'] = df['mech power'].pint.to("kW")
df.pint.to_base_units().pint.dequantify()

,speed,mech power,torque,rail pressure,fuel flow rate,fluid power
,radian / second,kilogram * meter ** 2 / second ** 3,kilogram * meter ** 2 / second ** 2,kilogram / meter / second ** 2,meter ** 3 / second,kilogram * meter ** 2 / second ** 3
0,104.719755,1047.197551,10.0,1.000000e+08,0.000167,1.666667e+04
1,115.191731,1151.917306,10.0,1.000000e+17,0.000167,1.666667e+13
2,125.663706,1256.637061,10.0,1.000000e+08,0.000167,1.666667e+04
3,125.663706,1256.637061,10.0,1.000000e+08,0.000167,1.666667e+04

In [57]:
df

,speed,mech power,torque,rail pressure,fuel flow rate,fluid power
0,1000.0,1.0471975511965979,10.0,1000.0,10.0,16.666666666666668
1,1100.0,1.1519173063162575,10.0,1000000000000.0,10.0,16666666666.666668
2,1200.0,1.2566370614359172,10.0,1000.0,10.0,16.666666666666668
3,1200.0,1.2566370614359172,10.0,1000.0,10.0,16.666666666666668

### Implementation

In [51]:
df['mech power'].values

PintArray([1.0471975511965979 kilowatt, 1.1519173063162575 kilowatt,
           1.2566370614359172 kilowatt, 1.2566370614359172 kilowatt],
          dtype='pint')

In [52]:
df['mech power'].values.dtype